<app-navbar
  [activetab]="activetab"
  [isSetupModalOpen]="isSetupModalOpen"
  (activetabChange)="getActiveTab($event)"
  (toggleSetupModal)="toggleSetupModal()"
/>
<app-setup-modal
  *ngIf="isSetupModalOpen"
  [isSetupModalOpen]="isSetupModalOpen"
  [supabaseUrl]="supabaseUrl"
  [supabaseKey]="supabaseKey"
  [isSupabaseReady]="isSupabaseReady"
  (supabaseUrlChange)="onSupabaseUrlChange($event)"
  (supabaseKeyChange)="onSupabaseKeyChange($event)"
  (toggleSetupModal)="toggleSetupModal()"
></app-setup-modal>

<section class="w-full bg-gray-50">
  <div
    id="dashboard"
    class="flex border-x-2 bg-white border-gray-100 h-screen flex-col max-w-7xl mx-auto"
  >
    <app-timeline *ngIf="activetab === 'timeline'"></app-timeline>
    <app-jobs *ngIf="activetab === 'jobs'"></app-jobs>
    <app-skills *ngIf="activetab === 'skills'"></app-skills>
  </div>
</section>
