.ovo-regular {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}

.bricolage-grotesque-regular {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
